body {
    background-image: url("https://pbs.twimg.com/profile_images/1246486186807394314/m2kwQ99m.jpg");
    height: 100%;

    background-position: center;
    background-repeat: repeat;
    background-size: contain;
  }

h1 {
    color: #ED3F7C;
    font-size: 48px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

p {
    font-family: "Minecraftia";
    font-size: 18px;
}

#amazingness {
    font-family: "Comic Sans MS";
    font-size: 1px;
}

ul {
    text-align: center;
}
li {
    font-family: monospace;
    font-size: 18px;
}

a {
    font-family: monospace;
    font-size: 18px;
}

input {
    font-family: monospace;
    font-size: 18px;
}

body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.hide {
    display: none;
  }
  
  .myDIV:hover + .hide {
    display: block;
    color: red;
  }