body {
    background-image: url("AlvinBalvin321.png");
    height: 100%;

    background-position: top;
    background-repeat: repeat;
    background-size: 20vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 69%;

    font-family: "Minecraftia";
    font-size: 18px;
    text-align: left;
    color: black;
}

@font-face {
    font-family: 'Minecraftia';
    src: url("Minecraftia.ttf");
}

.darkmode {
    filter: brightness(0.5);
}

h1 {
    color: #ED3F7C;
    font-size: 64px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h2 {
    color: white;
    font-size: 32px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: left;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h3 {
    color: black;
    font-size: 21px;
    font-family: 'Minecraftia';
    font-weight: bold;
    text-align: left;
}

#amazingness {
    font-family: "Comic Sans MS";
    font-size: 1px;
}

li{
    list-style-type: none;
}

li:before {
    content: '\1F35E ';
    margin-left: -20px;
    margin-right: 10px;
}